{
  "x-generator": "NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "CAS genesisWorld REST Webservice - v7.0",
    "description": "The REST API for CAS genesisWorld.\nPlease note that not all schemas are documented with OpenAPI yet. We're working on extending this documentation. In the meantime, you can find the schemas in the partner portal documentation.",
    "contact": {
      "name": "CAS Helpdesk",
      "url": "https://helpdesk.cas.de"
    },
    "version": "x17"
  },
  "servers": [
    {
      "url": "http://demo.cas.de/genesisrest.svc"
    }
  ],
  "paths": {
    "/v7.0/type/address/salutation": {
      "post": {
        "tags": [
          "Data Object - Address"
        ],
        "summary": "Get salutation for address",
        "description": "This is a guess based on the provided fields.",
        "operationId": "GenesisRestV_GuessSalutationsByFields",
        "requestBody": {
          "x-name": "requestData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuessSalutationRequestData"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuessSalutationResponseData"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/addin/{name}": {
      "get": {
        "tags": [
          "System Information"
        ],
        "summary": "Get add-in installer",
        "operationId": "GenesisRestV_GetAddIn",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "description": "The add-in which should be loaded",
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "A file stream with the add-in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Stream"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/document/file/temp": {
      "post": {
        "tags": [
          "Data Object - Document"
        ],
        "summary": "Upload file to temporary file storage",
        "description": "The location of this file can be referenced during a document data object create/update operation.\nIf this is done the temp file will be persisted permanently in the document archive.",
        "operationId": "GenesisRestV_UploadDocumentFileToTempStore",
        "requestBody": {
          "x-name": "binaryResourceInfo",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BinaryResourceInfo"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/temp/{tempFile}": {
      "delete": {
        "tags": [
          "Data Object - Document"
        ],
        "summary": "Delete file from temporary file storage",
        "description": "If this is not called, the file will be removed after some time because the storage is temporary.",
        "operationId": "DeleteFileFromTempStore",
        "parameters": [
          {
            "name": "tempFile",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/document/archivezip/{fileId}": {
      "get": {
        "tags": [
          "Data Object - Document"
        ],
        "summary": "Gets the archive zip file for the given fileId",
        "operationId": "GenesisRestV_GetArchiveZip",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "required": true,
            "description": "The ID of the zip file that should be loaded",
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "A file stream with the ZIP file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BinaryResourceInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/document/{dataObjectGGUID}/file/version/list": {
      "get": {
        "tags": [
          "Data Object - Document"
        ],
        "summary": "Get version list",
        "description": "Get all versions to a document.",
        "operationId": "GenesisRestV_GetDocumentVersionList",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentVersionDescription"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/document/{dataObjectGGUID}/file/version": {
      "post": {
        "tags": [
          "Data Object - Document"
        ],
        "summary": "Create new document version",
        "description": "Archives the current document file state as a new version with the comment in genesisWorld.",
        "operationId": "GenesisRestV_CreateDocumentVersionByComment",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "comment",
          "description": "The version comment for the new version.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentComment"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/document/{dataObjectGGUID}/file/version/{documentVersion}/restore": {
      "post": {
        "tags": [
          "Data Object - Document"
        ],
        "summary": "Restore a document version",
        "description": "Restore the working state of the document with the file state of a specific version.",
        "operationId": "GenesisRestV_RestoreDocumentVersion",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          },
          {
            "name": "documentVersion",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/document/{dataObjectGGUID}/file/version/{documentVersion}": {
      "get": {
        "tags": [
          "Data Object - Document"
        ],
        "summary": "Get document file by version",
        "operationId": "GenesisRestV_GetBinaryDataOfSpecificVersion",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          },
          {
            "name": "documentVersion",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BinaryResourceInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/address/uvz/search-as-you-type": {
      "get": {
        "tags": [
          "Data Object - Address"
        ],
        "summary": "Search UVZ",
        "operationId": "GenesisRestV_GetSearchAsYouTypeFromUvz",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MassQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/address/uvz/{ebidNumber}": {
      "get": {
        "tags": [
          "Data Object - Address"
        ],
        "summary": "Get address by ebidNumber",
        "operationId": "GenesisRestV_GetAddressByEbidNumber",
        "parameters": [
          {
            "name": "ebidNumber",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMapJson"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/address/{dataObjectGGUID}": {
      "delete": {
        "tags": [
          "Data Object - Address"
        ],
        "operationId": "GenesisRestV_DeleteAddressDataObject",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          },
          {
            "name": "delete-contact-persons",
            "x-originalName": "deleteContactPersons",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/address/formatphonenumber": {
      "post": {
        "tags": [
          "Data Object - Address"
        ],
        "summary": "Get the phone number formatted",
        "description": "The formatting is based on the given country code",
        "operationId": "GenesisRestV_FormatPhoneNumber",
        "requestBody": {
          "x-name": "requestDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormatPhoneNumberRequestDTO"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormatPhoneNumberResponseDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/smartsearch": {
      "get": {
        "tags": [
          "Smart Search"
        ],
        "summary": "Search with smart search",
        "operationId": "GenesisRestV_SmartSearchExecuteSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 1
          },
          {
            "name": "object-type",
            "x-originalName": "objectType",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 2
          },
          {
            "name": "object-types",
            "x-originalName": "objectTypes",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 4
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/smartsearch/teamselect": {
      "post": {
        "tags": [
          "Smart Search"
        ],
        "summary": "Search in the list of coworkers",
        "operationId": "GenesisRestV_SmartSearchTeamSelectSearch",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 2
          },
          {
            "name": "object-type",
            "x-originalName": "objectType",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "owner-types",
            "x-originalName": "rightOwnerTypes",
            "in": "query",
            "schema": {
              "default": "",
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 4
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 5
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 6
          }
        ],
        "requestBody": {
          "x-name": "searchParams",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamSelectSearchParams"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamSelectSearchResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/settings/email": {
      "get": {
        "tags": [
          "System Information"
        ],
        "summary": "Get GeneralEmailSettings",
        "operationId": "GenesisRestV_GetEmailSettings",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralEmailSettings"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      },
      "put": {
        "tags": [
          "System Information"
        ],
        "summary": "Set GeneralEmailSettings",
        "operationId": "GenesisRestV_SetEmailSettings",
        "requestBody": {
          "x-name": "settings",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneralEmailSettings"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/email/archive": {
      "post": {
        "tags": [
          "Data Object - EMail"
        ],
        "summary": "Archive Email as Type",
        "description": "Archive an email as a specific object type. Supported types are: EMAILSTORE, DOCUMENT, APPOINTMENT, TODO.",
        "operationId": "GenesisRestV_ArchiveEmailAsType",
        "parameters": [
          {
            "name": "object-type",
            "x-originalName": "objectType",
            "in": "query",
            "required": true,
            "description": "The email will be archived as this object type.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TableName"
                }
              ]
            },
            "x-position": 2
          },
          {
            "name": "foreign-edit-permission-restriction",
            "x-originalName": "foreignEditPermissionRestriction",
            "in": "query",
            "description": "The foreign edit permissions of the created object. Defaults to \"no\naccess\".\n            ",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 3
          },
          {
            "name": "template-guid",
            "x-originalName": "templateGuid",
            "in": "query",
            "description": "Guid of the template to be used. If no template can be found, the default template will be used.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 4
          }
        ],
        "requestBody": {
          "x-name": "binaryResourceInfo",
          "description": "The email to archive, in .eml format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BinaryResourceInfo"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/email/archive/template/{objectType}/list": {
      "get": {
        "tags": [
          "Data Object - EMail"
        ],
        "summary": "Get Email Archive Templates",
        "description": "Get email archive templates for a specific type. Supported types are: EMAILSTORE, DOCUMENT, APPOINTMENT, TODO.",
        "operationId": "GenesisRestV_GetEmailArchiveTemplates",
        "parameters": [
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "description": "Templates for this object type will be returned.",
            "schema": {
              "$ref": "#/components/schemas/TableName"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailArchiveTemplateDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/tags": {
      "get": {
        "tags": [
          "Tagging"
        ],
        "summary": "Get GetAllTags",
        "operationId": "GenesisRestV_GetTags",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TagType"
                }
              ]
            },
            "x-position": 1
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 2
          },
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "value",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 4
          },
          {
            "name": "guids",
            "in": "query",
            "style": "form",
            "explode": true,
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/StringOf"
                }
              ]
            },
            "x-position": 5
          },
          {
            "name": "any",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 6
          },
          {
            "name": "with-usages-in",
            "x-originalName": "withUsagesInObjectType",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TableName"
                    }
                  ]
                }
              ]
            },
            "x-position": 7
          },
          {
            "name": "include-deactivated",
            "x-originalName": "includeDeactivated",
            "in": "query",
            "description": "If true, deactivated addresses will be returned for ADDRESS views. Does not change anything for non-ADDRESS views.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 8
          },
          {
            "name": "include-status-fields",
            "x-originalName": "includeStatusFields",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 9
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 11
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tags"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/{dataObjectType}/{dataObjectGGUID}/tags": {
      "get": {
        "tags": [
          "Tagging"
        ],
        "summary": "Get Tags of single DataObject",
        "operationId": "GenesisRestV_GetDataObjectTags",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          },
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 2
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/TagType"
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "source",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 4
          },
          {
            "name": "category",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 5
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tags"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/{dataObjectType}/{dataObjectGGUID}/tags/user": {
      "post": {
        "tags": [
          "Tagging"
        ],
        "summary": "Write and delete assignments for a single DataObject",
        "operationId": "GenesisRestV_UpdateTagsForDataObject",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 2
          },
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 3
          }
        ],
        "requestBody": {
          "x-name": "requestData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostUserTagsRequestData"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/{dataObjectType}/{dataObjectGGUID}/journal/tags": {
      "get": {
        "tags": [
          "Data Object",
          "Tagging"
        ],
        "summary": "Get tag journal entries",
        "description": "Returns changes to the assigned tags for a data object",
        "operationId": "GenesisRestV_GetTagJournal",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          },
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 2
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 3
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TagJournalEntry"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/tags/icon/{iconId}": {
      "get": {
        "tags": [
          "Tagging"
        ],
        "summary": "Get the icon of a tag",
        "operationId": "GenesisRestV_GetTagIcon",
        "parameters": [
          {
            "name": "iconId",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BinaryResourceInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v7.0/type/appointment/{dataObjectGuid}/participant/summary": {
      "get": {
        "tags": [
          "Data Object - Appointment"
        ],
        "summary": "Get participants of an appointment",
        "operationId": "GenesisRestV_GetParticipantsSummary",
        "parameters": [
          {
            "name": "dataObjectGuid",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetParticipantsSummaryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/{dataObjectType}/template/metadata/list": {
      "get": {
        "tags": [
          "Template"
        ],
        "summary": "Get a list of managed templates",
        "operationId": "GenesisRestV_GetTemplates",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TableName"
            },
            "x-position": 1
          },
          {
            "name": "app",
            "in": "query",
            "description": "The ID of the app. If set objects that are only available within that app are returned too.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 2
          },
          {
            "name": "templateFields",
            "x-originalName": "fields",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Specifies which data object fields of the template should be returned.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StringOf"
                    }
                  ]
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 4
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 5
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filters the list for data objects matching the search term. This uses the users search fields defined in the Desktop Client.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 6
          },
          {
            "name": "privateOnly",
            "in": "query",
            "description": "Set to 'true' to return only the current users private elements.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateMetadatas"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/settings/document/fieldvariables": {
      "get": {
        "tags": [
          "System Information"
        ],
        "summary": "Gets the private and public document field variables.",
        "operationId": "GenesisRestV_GetDocumentFieldVariables",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentFieldVariableDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      },
      "post": {
        "tags": [
          "System Information"
        ],
        "summary": "Creates a document field variable or updates it, if a variable with the same name already exists.",
        "operationId": "CreateDocumentFieldVariable",
        "requestBody": {
          "x-name": "fieldVariable",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentFieldVariableDTO"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "",
            "headers": {
              "Location": {
                "name": "Location",
                "description": "The location of the created document field variable.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/settings/document/fieldvariables/{fieldVariableGuid}": {
      "put": {
        "tags": [
          "System Information"
        ],
        "summary": "Updates a document field variable.",
        "operationId": "GenesisRestV_UpdateDocumentFieldVariable",
        "parameters": [
          {
            "name": "fieldVariableGuid",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "documentFieldVariable",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentFieldVariableUpdateDTO"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "System Information"
        ],
        "summary": "Deletes a document field variable.",
        "operationId": "GenesisRestV_DeleteDocumentFieldVariable",
        "parameters": [
          {
            "name": "fieldVariableGuid",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/BSPRODUCT/{dataObjectGGUID}/price/list": {
      "get": {
        "tags": [
          "Data Object - Sales Pro"
        ],
        "summary": "Get additional product prices",
        "description": "This returns the additional product prices in different currencies. Please note that the main price in the currency\nof the product will not be included in this list. It can be loaded with the product.",
        "operationId": "GenesisRestV_GetProductPrices",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 2
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 1000.0,
              "minimum": 0.0
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataObjectTypeAwareMassQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/BSPRODUCT/{dataObjectGGUID}/description/list": {
      "get": {
        "tags": [
          "Data Object - Sales Pro"
        ],
        "summary": "Get product descriptions",
        "operationId": "GenesisRestV_GetProductDescriptions",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 2
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 1000.0,
              "minimum": 0.0
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataObjectTypeAwareMassQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/picassoai/text/generate": {
      "post": {
        "tags": [
          "PicassoAI"
        ],
        "summary": "Generate text for a given user and system prompt\nThe system prompt can be passed either as string,\nor as the GUID of a predefined system prompt.",
        "operationId": "GenesisRestV_GenerateTextFromPrompt",
        "requestBody": {
          "x-name": "textFromPromptRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTextFromPromptRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTextFromPromptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/picassoai/json/generate": {
      "post": {
        "tags": [
          "PicassoAI"
        ],
        "summary": "Generate json for a given user and system prompt\nThe system prompt can be passed either as string,\nor as the GUID of a predefined system prompt.",
        "operationId": "GenesisRestV_GenerateJsonFromPrompt",
        "requestBody": {
          "x-name": "textFromPromptRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTextFromPromptRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTextFromPromptResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/picassoai/prompt/list": {
      "get": {
        "tags": [
          "PicassoAI"
        ],
        "summary": "Returns the metadata of predefined AIA prompts.",
        "operationId": "GenesisRestV_GetPrompts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 1
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 2
          },
          {
            "name": "private-only",
            "x-originalName": "privateOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PicassoAiPromptMetadataDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/wenetworkmailing/{dataObjectGGUID}/recipients": {
      "get": {
        "tags": [
          "We.Network"
        ],
        "operationId": "GenesisRestV_GetWeNetworkMailingRecipients",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          },
          {
            "name": "weNetworkId",
            "in": "query",
            "schema": {
              "default": "",
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 2
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "maximum": 2147483647.0,
              "minimum": 1.0
            },
            "x-position": 3
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100,
              "maximum": 1000.0,
              "minimum": 0.0
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeNetworkMailingRecipients"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/wenetworkmailing/{dataObjectGGUID}/metadata": {
      "get": {
        "tags": [
          "We.Network"
        ],
        "operationId": "GenesisRestV_GetWeNetworkMailingMetaData",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WeNetworkMailingMetaData"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/wenetworkmailing/{dataObjectGGUID}/result": {
      "post": {
        "tags": [
          "We.Network"
        ],
        "operationId": "GenesisRestV_StoreWeNetworkMailingResults",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "requestData",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WeNetworkMailingResultRequestData"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/xrmmail/{dataObjectType}/dataselection": {
      "get": {
        "tags": [
          "XRM Mail"
        ],
        "operationId": "GenesisRestV_GetDataSelection",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XrmMailDataSelectionDTO"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/xrmmail/{dataObjectType}/mailmergefields": {
      "get": {
        "tags": [
          "XRM Mail"
        ],
        "operationId": "GenesisRestV_GetMailMergeFields",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XrmMailNodeDTO"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/ping": {
      "get": {
        "tags": [
          "System Information"
        ],
        "summary": "Ping the server",
        "operationId": "GenesisRestV_Ping",
        "parameters": [
          {
            "name": "message",
            "in": "query",
            "schema": {
              "default": "pong",
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/String"
                }
              }
            }
          }
        }
      }
    },
    "/v7.0/databases": {
      "get": {
        "tags": [
          "System Information"
        ],
        "summary": "Get databases",
        "description": "Lists all active databases. Disconnected or out-of-date databases will be missing.",
        "operationId": "GenesisRestV_GetValidDatabases",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOfDatabaseEntry"
                }
              }
            }
          }
        }
      }
    },
    "/v7.0/type/{dataObjectType}/{dataObjectGGUID}/link/{objecttype2}/{guid2}/{attribute}": {
      "get": {
        "tags": [
          "Link"
        ],
        "summary": "Get a link",
        "description": "Returns full meta information about a single link.",
        "operationId": "GetLink",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "description": "ObjectType1 of the link",
            "schema": {
              "$ref": "#/components/schemas/TableName"
            },
            "x-position": 1
          },
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "description": "GGUID1 of the link",
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 2
          },
          {
            "name": "objecttype2",
            "in": "path",
            "required": true,
            "description": "ObjectType2 of the link",
            "schema": {
              "$ref": "#/components/schemas/TableName"
            },
            "x-position": 3
          },
          {
            "name": "guid2",
            "in": "path",
            "required": true,
            "description": "GGUID2 of the link",
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 4
          },
          {
            "name": "attribute",
            "in": "path",
            "description": "This parameter is optional. If it is missing we assume an unattributed link.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Link"
        ],
        "summary": "Delete a link",
        "description": "This will remove the specified link. If there are multiple links between the two objects, the other links will not\nbe effected and therefore a relationship between the two data objects will still appear in the link list and in the\ndossier.",
        "operationId": "GenesisRestV_DeleteLink",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "description": "ObjectType1 of the link",
            "schema": {
              "$ref": "#/components/schemas/TableName"
            },
            "x-position": 1
          },
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "description": "GGUID1 of the link",
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 2
          },
          {
            "name": "objecttype2",
            "in": "path",
            "required": true,
            "description": "ObjectType2 of the link",
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 3
          },
          {
            "name": "guid2",
            "in": "path",
            "required": true,
            "description": "GGUID2 of the link",
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 4
          },
          {
            "name": "attribute",
            "in": "path",
            "description": "Attribute of the links. Unattributed links can also be removed without the default attribute.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/{dataObjectType}/{dataObjectGGUID}/link": {
      "post": {
        "tags": [
          "Link"
        ],
        "summary": "Create a link",
        "description": "In the post body the GGUID1-ObjectType1 pair or the\nGGUID2-ObjectType2 pair is required.\nIf the first pair is specified, the link is flipped by the server.",
        "operationId": "GenesisRestV_CreateLink",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "description": "If ObjectType1 is defined in link, this is ObjectType2. Otherwise it\nis ObjectType1.\n            ",
            "schema": {
              "$ref": "#/components/schemas/TableName"
            },
            "x-position": 1
          },
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "description": "If GGUID1 is defined in link, this is GGUID2. Otherwise it is GGUID1.",
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "link",
          "description": "Additional information about the link.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Link"
              }
            }
          },
          "required": true,
          "x-position": 3
        },
        "responses": {
          "201": {
            "description": "",
            "headers": {
              "Location": {
                "name": "Location",
                "description": "The URI of the created link.",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/{dataObjectType}/{dataObjectGGUID}/link/list": {
      "get": {
        "tags": [
          "Link"
        ],
        "summary": "Get links",
        "description": "This returns the full list of links the data object has. This includes links to data objects which can not be\nloaded due to missing permissions and multiple links to the same data object due to different attributes.",
        "operationId": "GenesisRestV_GetAllLinks",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TableName"
            },
            "x-position": 1
          },
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 2
          },
          {
            "name": "object-type",
            "x-originalName": "objecttype2",
            "in": "query",
            "description": "Filters the links by object type. If missing the list is unfiltered.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/TableName"
                    }
                  ]
                }
              ]
            },
            "x-position": 3
          },
          {
            "name": "gguid",
            "x-originalName": "guid2",
            "in": "query",
            "description": "Filters the links by data object guid. If missing the list is unfiltered.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 4
          },
          {
            "name": "attribute",
            "in": "query",
            "description": "Filters the links by link attribute. If missing the list is unfiltered.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 5
          },
          {
            "name": "link-direction",
            "x-originalName": "direction",
            "in": "query",
            "description": "Filters the links by link direction. If missing the list is unfiltered.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/LinkDirection"
                    }
                  ]
                }
              ]
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Link"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/{dataObjectType}/{dataObjectGGUID}/notes/{fieldName}": {
      "get": {
        "tags": [
          "GenesisRestV"
        ],
        "summary": "Returns the formatted html content of a notes field.",
        "operationId": "GenesisRestV_GetFormattedNotes",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          },
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TableName"
            },
            "x-position": 2
          },
          {
            "name": "fieldName",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 3
          },
          {
            "name": "html-filter",
            "x-originalName": "filter",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 8
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BinaryResourceInfo"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      },
      "post": {
        "tags": [
          "GenesisRestV"
        ],
        "summary": "Prepend or append an affix to the existing content of the specified formatted field. The affix may be provided as\nplain text, html, or a multipart MIME message. The format needs to be specified in the content type.",
        "operationId": "GenesisRestV_AffixToFormattedNotes",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 2
          },
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TableName"
            },
            "x-position": 3
          },
          {
            "name": "fieldName",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 4
          },
          {
            "name": "content-type",
            "x-originalName": "contentType",
            "in": "header",
            "required": true,
            "description": "Supported content types: text/plain, text/html, multipart/alternative, multipart/related.",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 5
          },
          {
            "name": "prepend",
            "in": "query",
            "description": "If true, prepend the affix to the existing notes, otherwise append the affix.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "x-position": 6
          },
          {
            "name": "with-timestamp",
            "x-originalName": "withTimestamp",
            "in": "query",
            "description": "Prepend a timestamp and user to the affix before affixing to the notes.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 7
          }
        ],
        "requestBody": {
          "x-name": "formattedNotesAffix",
          "description": "Formatted notes to prepend or append. May be plain, html or multipart.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BinaryResourceInfo"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/address/salutation/{countryCode}": {
      "get": {
        "tags": [
          "Data Object - Address"
        ],
        "summary": "Get address salutations by country code",
        "operationId": "GenesisRestV_GetSalutationsByCountry",
        "parameters": [
          {
            "name": "countryCode",
            "in": "path",
            "required": true,
            "description": "e.g. DE",
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalutationsByCountryJsonResponseData"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/registration/from-portal": {
      "post": {
        "tags": [
          "Data Object - Event"
        ],
        "summary": "Create event registration",
        "description": "Creates a new event registration. This is intended to be used from portal solutions.",
        "operationId": "GenesisRestV_CreateRegistrationDataObject",
        "parameters": [
          {
            "name": "tag-as-recently-used",
            "x-originalName": "tagAsRecentlyUsed",
            "in": "query",
            "description": "If set to true, this operation counts towards the recently used tracking of data objects.\n            ",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "requestBody": {
          "x-name": "registrationParameters",
          "description": "An instance of RegistrationParameters containing the parameters for the registration.\nAt least ParticipantGUID and EventGUID are required. If you leave out RegistrationDate, the current date will be\nused.\n            ",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationParameters"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "The registration has been created successfully."
          },
          "409": {
            "description": "A conflicting registration (same event, same participant) already exists."
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/event/{dataObjectGGUID}/accounting": {
      "get": {
        "tags": [
          "Data Object - Event"
        ],
        "summary": "Get event accounting model",
        "description": "Retrieves information about the tree of accounting positions that is linked to the event.\nIf you do not provide the \"accounting-positions\" query parameter, the server will try to\ndetermine one matching price position. If successful, all prices except the one that has been\nautomatically selected will have been pruned from the result (unless you have set prune to false).\nOtherwise, all prices are returned. Accounting positions of other types than prices (e. g.\nadditional services) are always returned so the user can see them.",
        "operationId": "GenesisRestV_CalculateEventAccounting",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "description": "GUID of the event for which the accounting prices should be calculated.\n            ",
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          },
          {
            "name": "participant",
            "x-originalName": "participantGUID",
            "in": "query",
            "required": true,
            "description": "GUID of an address to be registered for an event. Useful if prices have filters for the\naddress.\n            ",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 2
          },
          {
            "name": "registration-date",
            "x-originalName": "registrationDate",
            "in": "query",
            "required": true,
            "description": "Date for a new event registration. Might be relevant if prices have date filters.\n            ",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "prune",
            "in": "query",
            "description": "True if accounting positions that have not been selected should be removed (which is the default).\n            ",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "x-position": 4
          },
          {
            "name": "accounting-positions",
            "x-originalName": "accountingPosGUIDs",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Comma-separated list of accounting position GUIDs. Exactly these positions will be included in the returned\naccounting tree.\n            ",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StringOf"
                    }
                  ]
                }
              ]
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "The tree of the event's accounting positions and the automatic price calculation success.\n            ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventAccountingCalculation"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/registration/{dataObjectGGUID}/state": {
      "post": {
        "tags": [
          "Data Object - Event"
        ],
        "summary": "Update the state of an event registration",
        "operationId": "GenesisRestV_SetEventRegistrationState",
        "parameters": [
          {
            "name": "dataObjectGGUID",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "state",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrationState"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/metadata": {
      "get": {
        "tags": [
          "Meta Data"
        ],
        "summary": "Get data object types meta data",
        "description": "This returns the description and schema for multiple object types in a single call.",
        "operationId": "GenesisRestV_GetDataObjectDescriptionList",
        "parameters": [
          {
            "name": "object-types",
            "x-originalName": "objectTypes",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/TableName"
              }
            },
            "x-position": 1
          },
          {
            "name": "include-semantics",
            "x-originalName": "includeSemantics",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IEnumerableOfDataObjectDescriptionWrapper"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/{dataObjectType}/autonumber/{fieldname}": {
      "get": {
        "tags": [
          "Meta Data"
        ],
        "summary": "Get auto number for field",
        "operationId": "GenesisRestV_GetAutoNumber",
        "parameters": [
          {
            "name": "dataObjectType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TableName"
            },
            "x-position": 1
          },
          {
            "name": "fieldName",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/String"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoNumberJson"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/metadata/country": {
      "get": {
        "tags": [
          "Meta Data"
        ],
        "summary": "Get country names by iso code",
        "operationId": "GenesisRestV_GetCountryNamesByIsoCode",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeyValuePairOfStringAndString"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/address/gender": {
      "get": {
        "tags": [
          "Data Object - Address",
          "Meta Data"
        ],
        "summary": "Get gender list",
        "description": "Gets the currently active genders. If the ChristianName\nquery parameter is provided, then only the gender matching the given christian name will be\nreturned.",
        "operationId": "GenesisRestV_GetGenders",
        "parameters": [
          {
            "name": "christianname",
            "x-originalName": "christianName",
            "in": "query",
            "required": true,
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "$ref": "#/components/schemas/String"
                }
              ]
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGendersJsonResponseData"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/settings/password/rules": {
      "get": {
        "tags": [
          "System Information"
        ],
        "summary": "Get password rules",
        "operationId": "GenesisRestV_GetPasswordComplexityRules",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PasswordComplexityRule"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/address/search/phonenumber": {
      "get": {
        "tags": [
          "Data Object - Address"
        ],
        "summary": "Search for addresses by phone number",
        "operationId": "GenesisRestV_GetAddressesByPhoneNumber",
        "parameters": [
          {
            "name": "phoneNumber",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/String"
                    }
                  ]
                }
              ]
            },
            "x-position": 1
          },
          {
            "name": "defaultCountryCallingCode",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "page",
            "in": "query",
            "description": "Defines the page. The first paged is indexed with 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 3
          },
          {
            "name": "entries-per-page",
            "x-originalName": "entriesPerPage",
            "in": "query",
            "description": "Defines the page size of the list.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1000
            },
            "x-position": 4
          },
          {
            "name": "fields",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Specifies which data object fields should be returned.",
            "schema": {
              "oneOf": [
                {
                  "nullable": true,
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/StringOf"
                    }
                  ]
                }
              ]
            },
            "x-position": 5
          },
          {
            "name": "order-by",
            "x-originalName": "orderBy",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "$ref": "#/components/schemas/ViewColumnOrder"
              }
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataObjectTypeAwareMassQueryResult"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth": []
          },
          {
            "Basic Auth": []
          },
          {
            "CAS Product Key": []
          }
        ]
      }
    },
    "/v7.0/type/address/addressfieldrelations": {
      "get": {
        "tags": [
          "Meta Data"
        ],
        "summary": "Get address field relations",
        "description": "Gets information about fields that are synchronized\nbetween companies and contact persons.",
        "operationId": "GenesisRestV_GetAddressFieldRelations",
        "parameters": [
          {
[...]
